
<h1>About</h1>
<hr>
<h2>Developers</h2>
For CS103a, Spring 2022
<ul>
  <li>Tim Hickey (instructor)</li>
  <li>Iria Wang (student)</li>
</ul>
<hr>
<h2>Concept</h2>
The <a href="https://www.metmuseum.org/">Metropolitan Museum of Art</a> of New York City, or colloquially "the MET",
is the largest art museum in the Western Hemisphere and the fourth most visited art museum in the world. Over two
million works reside in its permanent collection, with 17 curatorial departments ranging from Ancient Greek and Roman
art to European paintings to Asian pieces to Modern art. With over 2.2 million square feet of space, it is impossible
to fully explore what the MET has to offer within just a few visits. <br>
<br>
Fortunately, the MET offers <a href="https://www.metmuseum.org/about-the-met/policies-and-documents/open-access">open 
access</a> to more than 492,000 images of public-domain artworks through API. To demonstrate the use of MongoDB and HTML 
skills, this app is a platform through which users may view, search for, and interact with the art objects provided 
through the MET open access program. <br>
<br>
As a minimum viable product, data for a sample art pieces selected from the MET open access API were uploaded to the 
cloud through MongoDB atlas from the API. Users with an account may search for and view artworks based on artist, title, 
cuture, date, department, etc. Users may also star certain pieces they like, wish to know more about, or wish to visit.

