

    <div class="jumbotron">
        <h1>Search the MET Open Access Objects</h1>
        <p></p>
    </div>
    
    <% if (loggedIn) {%>  
        <form method="post" action="/objects/byArtist">
            Search by artist:
              <input type="text" name="artist">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/objects/byKeyword">
            Search by keyword: 
            <input type="text" name="keyword">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/objects/byDate">
            Search by date: 
            <input type="number" name="date">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/objects/byCulture">
            Search by culture: 
            <input type="text" name="culture">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/objects/byGallery">
            Search by gallery number: 
            <input type="text" name="gallery">
            <input type="submit">
        </form>
        <br> <br>
        <a href="/starred/show">List of Starred Objects</a>
    <% } else { %>
        Please log in or sign up first. You can do that <a href="/login">here</a>.
    <% } %>


